@import "lib/bootstrap/bootstrap.less";
@import "lib/fontawesome/font-awesome.less";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom site css
-------------------------------------------------- */

.navbar-brand > img{
    height:100%;
    width:auto;
}
body > .container {
  padding: 60px 0 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding: 15px;
}
code {
  font-size: 80%;
}
img.site-logo{
   width: 60%; 
}
